apiVersion: v1
kind: ConfigMap
metadata:
  name: ha-proxy-cfg
  namespace: ha-proxy
data:
  haproxy.cfg: | 
    global
      tune.ssl.default-dh-param 2048
      log stdout format raw local0 debug
      
    defaults
      option forwardfor
      option http-server-close

    frontend k3s  
      # Set the proxy mode to http (layer 7) or tcp (layer 4)
      log global
      mode http
      option  httplog
      option  dontlognull

      log-format "%ci:%cp [%t] %ft %b/%s %Tq/%Tw/%Tc/%Tr/%Tt %ST %B %CC %CS %tsc %ac/%fc/%bc/%sc/%rc %sq/%bq %hr %hs %{+Q}r %sslv %[capture.req.hdr(0)]"
      
      # Receive traffic via HTTPs only
      bind *:8443 ssl crt /usr/local/etc/haproxy/certs/munyard-dev.pem

      http-request set-var(txn.origin) hdr(Origin)
      
      use_backend plex if { req.hdr(host) -i plex.munyard.dev }
      
      use_backend sab if { req.hdr(host) -i sab.munyard.dev }
      
      use_backend bt if { req.hdr(host) -i bt.munyard.dev }
      
      use_backend sonarr if { req.hdr(host) -i sonarr.munyard.dev }
      
      use_backend radarr if { req.hdr(host) -i radarr.munyard.dev }
      
      use_backend pm if { req.hdr(host) -i pm.munyard.dev }
      
      use_backend grafana if { req.hdr(host) -i stats.munyard.dev }

      use_backend overseerr if { req.hdr(host) -i kitty.munyard.dev } 

      use_backend tautulli if { req.hdr(host) -i tautulli.munyard.dev } 
      
      # deny by default
      default_backend no-match

    backend no-match
      mode http
      http-request deny deny_status 400

    backend plex
      mode http      
      server bethany 192.168.1.36:32400 check

    backend tautulli
      mode http      
      server bethany 192.168.1.36:8181 check

    backend grafana
      mode http     
      server bethany 192.168.1.230:3000 check

    backend overseerr
      mode http     
      server bethany 192.168.1.225:5055 check

    backend sab
      mode http
      server iso 192.168.1.225:8080 check
      
    backend bt
      mode http  
      server iso 192.168.1.225:9091 check

    backend sonarr
      mode http        
      server iso 192.168.1.225:8989 check

    backend radarr
      mode http        
      server iso 192.168.1.225:7878 check

    backend pm
      mode http
      server iso 192.168.1.215:8006 ssl verify none
