[Unit]
Description=Install k3s
After=network.target

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/usr/local/bin/raspberry_init.sh
TimeoutStartSec=0

[Install]
WantedBy=default.target