---
apiVersion: v1
kind: Service
metadata:
  name: tcp-53
  namespace: pi-hole
spec:
  selector:
    app: pi-hole
  ports:
    - name: pi-hole-webui
      port: 81
      targetPort: 80
      protocol:   TCP
    - name:       pi-hole-dns1
      port: 53
      targetPort: 53
      protocol:   TCP
    - name:       pi-hole-dns2
      port:       53
      targetPort: 53
      protocol:   UDP
  externalIPs:
    - 192.168.1.222